body{
    font-family: Arial, Helvetica, sans-serif;
    
}
main{
    display: flex;
    width: 1440px;
    height: 880px;
}
.left{
    display: flex;
    flex-direction: column;
    width: 75px;
    align-items: center;
    padding-top: 22px;
    border-right: 2px solid #f3f3f4;
}
.left-control{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 43px;
}
.left-logo{
    width: 50px;
}

.left-cam{
    width: 60px;
    border-radius: 5px;
}
.left-avatar{
    padding-top: 300px;
}
.left-setting{
    padding-top: 20px;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #f3f3f4;
}
.middle-header{
    display: flex;
    width: 875px;
    height: 130px;
    padding-left: 40px;
}
.middle-header-left{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 430px;
    padding-top: 40px;
}
.middle-header-left-title{
    font-size: 23px;
}
.middle-header-left-time{
    display: flex;
    width: 370px;
    height: 28px;
    padding-top: 35px;
    font-size: 12px;
}
.middle-header-left-time-internal{
    display: flex;
    border-radius: 50px;
    height: 100%;
    width: 80px;
    background-color: #e34d73;
    color: white;
    justify-content: center;
    align-items: center;
}
.middle-header-left-time-date{
    position: relative;
    display: flex;
    width: 110px;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #f1f1f3;
    padding-left: 20px;
}
.middle-header-left-time-date-pic{
    position: absolute;
    left: 17px;
}
.middle-header-left-time-clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
}
.middle-header-right{
    display: flex;
    width: 90px;
    height: 35px;
    border: 2px solid #f57d81;
    color: #f5666a;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 310px;
    gap: 10px;
    font-size: 14px;
}
.middle-img-big{
    position: relative;
    margin-top: 35px; 
    width: 830px;
    height: 460px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.middle-img-name{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 160px;
    height: 35px;
    border-radius: 3px;
    top: 190px;
    left: 150px;
    font-size: 14px;
    gap: 10px;
}
.middle-img-big-mic{
    position: absolute;
    top: 190px;
    left: 900px;
}
.middle-img-small-list{
    display: flex;
    width: 830px;
    height: 160px;
    gap: 27px;
}
.middle-img-small{
    display: flex;
    position: relative;
    border-radius: 10px;
}
.middle-img-small-mic{
    position: absolute;
    display: flex;
    width: 27px;
    height: 27px;
    top: 10px;
    right: 7px;
    border-radius: 5px;
}

.middle-img-small-name{
    position: absolute;
    width: 105px;
    height: 27px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    top: 10px;
    left: 7px;
    gap: 7px;
}
.middle-control-call{
    display: flex;
    justify-content: center;
    height: 45px;
    gap: 15px;
    padding-top: 20px;
}
.middle-control-call-option{
    width: 45px;
    border-radius: 5px;
}
.middle-control-call-endmeeting{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f22128;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    width: 125px;
}
.right{
    display: flex;
    flex-direction: column;
}

.right-top{
    display: flex;
    font-size: 23px;
    padding-top: 30px;
    height: 60px;
    padding-left: 33px;
}
.right-top-content{
    display: flex;
    margin-top: 5px;
    gap: 10px;
}
.right-top-number{
    display: flex;
    border-radius: 100px;
    color: #e34d73;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    font-size: 14px ;
    background-color: rgb(245, 242, 242);
}
.right-top-btnadd{
    display: flex;
    width: 70px;
    height: 30px;
    gap: 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #e56182;
    justify-content: center;
    align-items: center;
    color: #e56182;
    margin-left: 150px;
}
.right-list-user{
    display: flex;
    flex-direction: column;
    width: 410px;
    height: 245px;
    padding-top: 10px;
    gap: 7px;
    border-bottom: 2px solid #f3f3f4;
    padding-left: 33px;
}
.right-one-user{
    display: flex;
    height: 50px;
}
.right-one-user-name{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
}
.right-one-user-control{
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 125px;
}
.right-one-user-control-option{
    height: 15px;
    width: 15px;
}
.right-bottom{
    display: flex;
    padding-top: 40px;
    padding-left: 33px;
    font-size: 25px;
}
.right-bottom-list-chat{
    display: flex;
    width: 400px;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 33px;
}
.right-bottom-one-chat{
    display: flex;
    flex-direction: column;
    height: 120px;
}
.right-bottom-one-chat-user{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.right-bottom-one-chat-box{
    display: flex;
    height: 70px;
    width: 330px;
    font-size: 15px;
    background-color: #f8f9fa;
    justify-content: center;
    flex-direction: column;
    margin-left: 37px;
    line-height: 20px;
    padding-left: 10px;
}
.right-bottom-chat{
    display: flex;
    width: 420px;
    height: 55px;
    align-items: center;
    position: relative;
    gap: 30px;
    padding-left: 43px;
}
.right-bottom-chat-bar{
    display: flex;
    height: 35px;
    width: 270px;
    background-color: #f3f4f6;
    border: none;
}
.right-bottom-chat-bar::placeholder{
    color: #a5abb4;
}
.right-bottom-smile-icon{
    position: absolute;
    width: 20px;
    top: 18px;
    left: 285px;
}
