body{
    font-family: Arial, Helvetica, sans-serif;
    
}
main{
    display: flex;
    width: 1440px;
    height: 880px;
}
.left{
    display: flex;
    flex-direction: column;
    width: 75px;
    align-items: center;
    padding-top: 22px;
    border-right: 1px solid #f3f3f4;
}
.left-control{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 43px;
}
.left-logo{
    width: 50px;
}

.left-avatar{
    padding-top: 300px;
}
.left-setting{
    padding-top: 20px;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle-header{
    display: flex;
    width: 875px;
    height: 130px;
    padding-left: 40px;
}
.middle-header-left{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 430px;
    padding-top: 40px;
}
.middle-header-left-title{
    font-size: 23px;
}
.middle-header-left-time{
    display: flex;
    width: 370px;
    height: 28px;
    padding-top: 35px;
    font-size: 12px;
}
.middle-header-left-time-internal{
    display: flex;
    border-radius: 50px;
    height: 100%;
    width: 80px;
    background-color: #e34d73;
    color: white;
    justify-content: center;
    align-items: center;
}
.middle-header-left-time-date{
    position: relative;
    display: flex;
    width: 110px;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #f1f1f3;
    padding-left: 20px;
}
.middle-header-left-time-date-pic{
    position: absolute;
    left: 17px;
}
.middle-header-left-time-clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
}
.middle-header-right{
    display: flex;
    width: 90px;
    height: 40px;
    border: 2px solid #f57d81;
    color: #f5666a;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 310px;
}
.middle-img-big{
    position: relative;
    margin-top: 35px; 
    width: 830px;
    height: 460px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.middle-img-name{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 160px;
    height: 35px;
    border-radius: 3px;
    top: 190px;
    left: 150px;
    font-size: 14px;
}
.middle-img-big-mic{
    position: absolute;
    top: 190px;
    left: 900px;
}
.middle-img-small-list{
    display: flex;
    width: 830px;
    height: 160px;
    gap: 27px;
}
.middle-img-small{
    display: flex;
    position: relative;
    border-radius: 10px;
}
.middle-img-small-mic{
    position: absolute;
    display: flex;
    width: 27px;
    height: 27px;
    top: 10px;
    right: 7px;
    border-radius: 5px;
}

.middle-img-small-name{
    position: absolute;
    width: 105px;
    height: 27px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    top: 10px;
    left: 7px;
}
.middle-control-call{
    display: flex;
    justify-content: center;
    height: 45px;
    gap: 15px;
    padding-top: 20px;
}
.middle-control-call-option{
    width: 45px;
    border-radius: 5px;
}
.middle-control-call-endmeeting{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f22128;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    width: 125px;
}
.right{
    
}